body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ef7b00;
  border-radius: 6px;
}

.btnForLogin {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #088608;
  opacity: 1;
  border-radius: 15px;
  height: 45px;
  width: 150px;
  top: 650px;
  left: 1100px;
}

.profileName {
  display: flex;
  position: relative;
  /* flex-direction: row-reverse; */
  float: right;
  font-size: 20px;
  top: 40px;
}

.interfaceDP {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100px;
  width: 100px;
  top: 0px;
  right: 200px;
  float: right;
  font-size: 30px;
}

.lastUpdated {
  position: relative;
  max-width: 1600;
  align-items: right;
  justify-content: space-between;
  display: flex;
  padding-top: 0;
  padding-left: 1020;
}

.calenderContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px;
  gap: 10px;

  position: absolute;
  width: 136px;
  height: 137px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
}

.calenderMonthContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 10px;

  position: absolute;
  width: 136px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
}

.taskWidget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 10px;
  gap: 10px;
  width: 358px;
  height: 64.46px;
  border-radius: 6px;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 15px 20px 20px;
  gap: 10px;

  position: absolute;
  width: 409px;
  height: 714px;
  left: 1009px;
  top: 156px;

  background: #ffffff;
  box-shadow: 4px 4px 4px 1px rgba(192, 191, 191, 0.25);
  border-radius: 6px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.AWM {
  position: relative;
  /* top: 100px;
  left: 250px; */
}

.loginWidget {
  display: block;
  width: 718px;
  height: 609px;
  align-items: center;
  margin: auto;
  margin-top: 8%;
  

  background: #0b556c;
  border-radius: 12px;
}

.loginUsernameInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 690px;
  height: 65px;

  margin: 15px;

  background: #ffffff;
}

.loginPasswordInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 690px;
  height: 65px;

  margin: 15px;


  background: #ffffff;
}

.schedue {
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
  margin-bottom: 70px;
  justify-content: center;
  font-weight: 400;
  font-size: 96px;
}

.login {
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 50px;
}

.loginText {
  display: flex;
  margin-left: 15px;
  color: white;
}

.signIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 166px;
  height: 66px;
  background: #5FFC65;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 400;
  font-size: 28px;
  
  position: absolute;
  left: 1100px;
  top: 600px;
}
